* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; }
  
body {    
    margin: 0;
    padding: 0;
    font: 400 15px/1.8 Lato, sans-serif;    
    background: #000 !important;
}
#main-content-wrapper {
    margin-top: 80px;
}
.dashboard-title {
    margin-bottom: 60px;
}
.page-title {
    color: #F1C53D;
}
.list-group a {
    color: #F1C53D !important;
    background: transparent !important;
    border: 1px solid #aaa;
    color: #aaa;
}
.list-group a:hover {
    border: 1px solid #F1C53D !important;
    color: #F1C53D;
    background-color: rgba(200, 200, 200, 0.4) !important;
    /* background: #eaa700 !important; */
}
.list-group a.active {
    background: #F1C53D !important;
    color: #000 !important;
    border: 1px solid #F1C53D;
}
table {    
    color: #aaa !important;
}
table thead tr th,
table tbody tr td {
    padding: .75rem;
    text-align: center;
    border: 1px solid #F1C53D !important;
}
table thead tr {
    background-color: rgba(200, 200, 200, 0.2) !important;
}
table tbody tr:hover {
    background-color: rgba(200, 200, 200, 0.4) !important;
}
table a:hover {
    color: #F1C53D;
}
a {
    text-decoration: none !important;
    color: #aaa !important;
}
a:hover {
    color: #F1C53D !important;
}
.form-control {
    background-color: #000 !important;
    color: #aaa !important;
    outline: none !important;
}
.form-control:focus {
    color: #495057;
    background-color: #000;
    border-color: #F1C53D !important;
    outline: none !important;
}
.btn {
    color: #eaa700;
    background-color: transparent;
    border: 1px solid #eaa700 !important;
}
.btn:hover {
    color: #000;
    background-color: #eaa700;
}
.btn:focus {
    outline: none;
    box-shadow: none !important;
    border-color: #eaa700 !important;
    border: 1px solid #eaa700;
}
input:hover,
textarea:hover {
    border-color: #F1C53D;
}
label {
    color: #aaa;
    font-size: 16px;    
}
.form-group {
    text-align: left !important;
}