/* @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Lato|Montserrat'); */
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat:400,600,700|Raleway:300i&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; }
  
body {    
    margin: 0;
    padding: 0;
    font: 400 15px/1.8 Lato, sans-serif;    
}
main {
    background-color: #000;
}
h3, h4 {
    margin: 0 0 20px 0 !important;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111 !important;
}
.section-header {
    margin: 0 0 10px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.container {
    padding: 60px 80px !important;
}

/* -------------------------------------------------- navbar --------------------------------------------------- */
nav.navbar.navbar-inverse {
    background-color: rgba(0,0,0,0);
    border: none;
    font-family: Montserrat, sans-serif;        
    font-size: 11px !important;
    letter-spacing: 4px;    
    transition: 0.5s;
    -webkit-transition: all 1.2s;
    -moz-transition: all 1.2s; 
}
#big-logo-brand {
    position: absolute;
    width: 110px;
    height: 110px;
    transition: 0.7s;
    left: 20px;
    top: 0px;    
    opacity: 1;    
}
#big-logo-brand:hover {
    transform: scale(1.05);
}
.navbar-collapse {
    padding: 20px 0;
    transition: all 0.5s;
}
ul.nav.navbar-nav.navbar-right li a {
    color: #eee;        
    display: inline-block;
    transition: all 1s;
    text-transform: uppercase;
}
ul.nav.navbar-nav.navbar-right li a:after {    
    content: '';
    display: block;
    width: 0;
    margin: auto;
    height: 2px;
    background: #F1C53D;
    transition: width 0.3s;
    margin-top: 8px;
}
ul.nav.navbar-nav.navbar-right li a.changed:after {
    content: none !important;
}
ul.nav.navbar-nav.navbar-right li a.changed:hover {
    background-color: rgba(55,55,55,0.7) !important;
}
ul.nav.navbar-nav.navbar-right li a:hover:after {    
    width: 100%;
    transition: width 0.5s;
}
ul.nav.navbar-nav.navbar-right li a:hover {
    color: #F1C53D;
}
ul.nav.navbar-nav.navbar-right li.active a {
    background-color: transparent;
    color: #F1C53D;
}
ul.nav.navbar-nav.navbar-right li.active a:after {
    content: '';
    display: block;
    width: 100%;
    margin: auto;
    height: 2px;
    background: #F1C53D;
    transition: width 0.3s;
    margin-top: 8px;
}

/* -------------------------------------------------- landing images ---------------------------------------- */
#landing-wrapper {    
    background-color: #000;    
}
.landing-img-wrapper {                
    overflow: hidden;
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;      
}
.landing-img {
    position: absolute;    
    cursor: pointer;
    right: 0;
    bottom: 0;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;       
}

/* ------------------------------------------------- card info ------------------------------------------*/
.card-wrapper {
    opacity: 0;
    position: absolute;
    visibility: hidden;  
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;  
    font-family: Montserrat, sans-serif;
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;  
    /* z-index: 9;  */
}
.card {
    position: relative;          
    width: 70%;
    top: 50%; 
    left: 50%;  
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); 
    background: #2D2D30;
    overflow: hidden;
    transition: all 0.4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    box-shadow: 0 0 17px #888;
    z-index: 10;
    /* border: 1px solid #F1C53D; */
}
#veljko-card {
    opacity: 0;
}
#pedja-card {
    opacity: 0;
}
#pavle-card {
    opacity: 0;
}
#stefano-card {
    opacity: 0;
}
.top-section {
    position: relative;
    background-color: #2D2D30;
}
.top-section img {
    width: 100%;
    background-color: #2D2D30;
}
.name {
    position: absolute;
    bottom: 20px;
    left: -700px;
    font-size: 38px;
    font-weight: 900;
    opacity: .8;
    color: #F1C53D;  
    transition: all 0.4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;  
}
.name span {
    text-transform: uppercase;
    font-weight: 400;
    margin-left: -700px;
    transition: all 0.3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;  
}
.info-section {
    padding: 20px 40px 40px 40px;   
    background-color: #2D2D30;
    color: #9D9D9D;    
}
.info-section-headers {
    display: inline-block;
    position: relative;
    font-size: 18px;
    color: #F1C53D;
}
.info-section-headers:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;      
    width: 100%;
    height: 3px;
    background-color: #ad151d;

}
.about-text {
    margin-top: 10px;
    text-align: justify;
    opacity: 0;
    transition: all 0.4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}
.social-media {
    text-align: center;
    margin-top: 30px;  
    opacity: 0;  
    transition: all 0.4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition-delay: all .4s;
    -webkit-transition-delay: all .4s;
    -moz-transition-delay: all .4s;
}
.social-media a{
    text-decoration: none !important;
    font-size: 25px;
    color: #9D9D9D;
    padding: 0 14px;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
}
.social-media a:hover {
    color: #F1C53D;
}

/* ----------------------------------------------------- events -------------------------------------------- */
#events {
    /* background: #2D2D30; */
    background: url("../img/band-2.1.png") no-repeat;
    background-size: cover;
    background-position: center center;
    color: #9D9D9D;
    background-color: #000;
    height: 100vh;
}
.events-text {
    text-align: center;
    margin-bottom: 20px;
}
.events-wrapper {
    margin-top: 40px;
    height: 72vh;
    padding: 15px;    
    background-color: rgba(255, 255, 255, 0.1);   
    -webkit-box-shadow: 0px 0px 15px 4px rgba(204,204,204,0.5);
    -moz-box-shadow: 0px 0px 15px 4px rgba(204,204,2040.5);
    box-shadow: 0px 0px 15px 4px rgba(204,204,204,0.5); 
}
.events-rotated-text {            
    cursor: default;
    color: #F1C53D; 
    font-size: 45px;
    letter-spacing: 60px;    
    content: "nastupi";
    display: inline-block;    
    position: absolute;    
    transition: all .7s;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -o-transition: all .7s;
    opacity: 0;
}
.the-event {
    border-bottom: 1px solid #F1C53D;
    width: 100%;
    height: 25%;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}
.the-event:last-child {
    border-bottom: none;
}
.lokal-img-wrapper {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.lokal-img {
    /* width: auto;
    height: auto; */
    max-width: 100%;
    max-height: 100%;
    position: relative;    
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.lokal-info {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.lokal-info p:first-child {
    margin-bottom: 0;
}
.lokal-name {
    top: 0;
    font-size: 30px;
    color: #fff;
}
.lokal-address {
    font-size: 13px;
    color: rgb(170, 141, 54);    
}
.lokal-date {
    bottom: 0;
    font-size: 15px;
    color: #F1C53D;    
}
.fa-calendar-alt {
    color: #ad151d;
}
.event-more-info {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 1.6px solid #F1C53D;
    color: #F1C53D;
    font-weight: bold;
    background-color: transparent;
    padding: 5px 10px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    outline: none;
    margin-right: 15px;
}
.event-more-info:hover {
    color: #333;
    background-color: #F1C53D;
}
.lokal-more-info {
    /* display: none;
    visibility: hidden; */    
    height: 0px !important;
    overflow: hidden;
    margin-top: 20px; 
    transition: all 0.3s;
    -webkit-transition: all 0.3s;   
}
.lokal-sub-title {
   font-weight: bold;
   font-size: 17px; 
   color: #fff;
}
.lokal-contact {
    color: #F1C53D;
    text-decoration: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.lokal-socials {
    color: #F1C53D;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;    
    font-size: 18px;
    margin-right: 10px;
}
.lokal-socials:hover,
.lokal-contact:hover {
    color: #ad151d;
    text-decoration: none;
}
#lokal-sub-title-map {
    margin-top: 10px;
}
/* ----------------------------------------------- about band -------------------------------------------- */
#band {
    height: 100vh;
    position: relative;
    overflow: hidden; 
    background-color: #000;
    margin-bottom: 70px;   
}
.about-band-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    background: url("../img/about-band.png") no-repeat center center;
    background-size: cover;  
    /* z-index: 2;       */
}
.about-band-headline {
    position: absolute;
    font-family: 'Montserrat', sans-serif;      
    left: 150px;
    font-size: 130px;
    font-weight: 600;
    letter-spacing: 5px;
    color: rgb(255, 191, 0);
    /* transform: skewY(-3deg);
    transform-origin: bottom right; */
    color: transparent;
    z-index: 10;
    text-shadow:

    1px -1px 10px rgba(196, 159, 49, 0.4),
    0px -1px 10px rgba(196, 159, 49, 0.4),
    -1px -1px 10px rgba(196, 159, 49, 0.4),

    0px -2px 3px rgb(241, 197, 61),
    -1px -2px 3px rgb(241, 197, 61),
    -2px -2px 3px rgb(241, 197, 61),

    -1px -3px 3px rgb(230, 187, 59),
    -2px -3px 3px rgb(230, 187, 59),
    -3px -3px 3px rgb(230, 187, 59),

    -2px -4px 2px rgb(241, 197, 61),
    -3px -4px 2px rgb(241, 197, 61),
    -4px -4px 2pc rgb(241, 197, 61),

    -3px -5px 1px rgb(241, 197, 61),
    -4px -5px 1px rgb(241, 197, 61),
    -5px -5px 1px rgb(241, 197, 61);    
}
.about-band-sub-headline {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    left: 150px;
    letter-spacing: 2px;
    color: rgba(200, 200, 200, 0.8);       
}
.about-content {
    text-align: right;
}
.about-content-wrapper {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    position: absolute;
    color: rgba(200, 200, 200, 0.8);
    font-size: 20px;
    width: 80%;
}

/* -------------------------------------------------------- youtube -----------------------------------------------------------*/
#youtube {
    height: 90vh;    
    background-color: #000;
    margin-bottom: 70px;
    padding-top: 70px;      
}
.vid-container {
    text-align: center;
    color: #ad151d;    
}
#vid-frame {
    text-align: center;
    width: 80%;
    height: 80vh;
    border: 1px solid #F1C53D;
    /* border-top: 1px solid #F1C53D;
    border-left: 1px solid #F1C53D;
    border-bottom: 1px solid #F1C53D;     */
}
.vid-list-container {
    display: inline-block;
    width: 19%;
    height: 80vh;
    overflow: scroll;
    /* background-color: #373737; */
    border: 1px solid #F1C53D;
    /* border-top: 1px solid #F1C53D;
    border-right: 1px solid #F1C53D;
    border-bottom: 1px solid #F1C53D; */
}
.vid-list {    
	width: 100%;
	position: relative;
	top:0;
    left: 0;
    padding-bottom: 30px;
    padding-top: 30px;
}
.vid-item {
	display: block;
	width: 100%;		
	margin: 0;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.vid-item:hover {
    background-color: rgb(41, 41, 41);
}
.thumb {
	overflow:hidden;
	height: 121px;
}
.thumb img {
	width: 100%;
    position: relative;
    top: -57px;
}
.vid-item .desc {	
    font-size: 15px;
    margin-top: 10px;
}
.arrow-up-wrapper {
    position: absolute;        
    width: 19%;
    height: 30px;      
    cursor: pointer; 
    background-color: #222;    
    z-index: 99;   
}
.arrow-down-wrapper {
    position: absolute;
    top: 0;
    width: 19%;
    height: 30px;    
    cursor: pointer; 
    background-color: #222;
    z-index: 99;   
}
.arrow-up,
.arrow-down {
    padding: 5px 0;
}
.fa-chevron-up,
.fa-chevron-down {     
    color: #ad151d;
}

/* ------------------------------------------------------- images ----------------------------------------------------------- */
#images {    
    /* background-color: #000; */
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(143, 113, 22) 50%, rgba(0,0,0,1) 100%);
    margin-bottom: 100px;
    padding-top: 50px;
}
.images-row {
    display: flex;
    flex-wrap: wrap;
    
}
.images-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}
.images-column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    filter: grayscale(25%);
    -webkit-filter: grayscale(25%); 
    transition: all 0.3s;
    -webkit-transition: all 0.3s;   
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.images-column img:hover {
    transform: scale(1.02);
    /* -webkit-box-shadow: 0px 0px 7px 4px rgba(255,255,255,.50);
    -moz-box-shadow: 0px 0px 7px 4px rgba(255,255,255,.50);
    box-shadow: 0px 0px 7px 4px rgba(255,255,255,.50); */
} 


/* -------------------------------------------------------- testimonials ------------------------------------------------------ */
#testimonials {
    height: 100vh;    
    background-image: url("../img/backgrounds/testimonials_2.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.testimonial-box {      
    text-align: center;
    height: 30vh;        
    margin: 30px 0px;     
    padding: 45px 5px 5px 5px;
    background-color: #2D2D30;
    color: #9D9D9D;
}
.quote {
    width: 40px;
    height: 40px;        
    position: absolute;
    left: 40px;
    top: 13px;
    display: inline-block;
    color: #000;    
    font-size: 20px;
    background-color: #F1C53D;    
}
.fa-quote-right {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.testimonial-comment {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.testimonial-footer {
    text-align: right;
    position: absolute;
    right: 40px;
    bottom: 50px;
}
.username {
    font-weight: bold;
    color: #DDD;
}
.fa.fa-star.checked {    
    color: #F1C53D;
}
/* ----------------------------------------------------------------contact ------------------------------------------------------------------- */
#contact {
    height: 90vh !important;
    background-image: url("../img/backgrounds/footer.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
    padding-top: 50px;
    color: #9D9D9D;  
}
#instruments-img {
    position: relative;    
}
.contact-form {
    padding: 30px 50px;   
    text-align: left;     
    background-color: rgba(255, 255, 255, 0.15);    
}
.contact-cols-content,
.contact-form {
    margin-top: 17%;
}
.contact-form .form-group label {
    position: relative;
    top: 30px;
    font-size: 16px;
    transition: all 0.3s;
}
.contact-form .form-group input,
.contact-form .form-group textarea {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #F1C53D;
    border-radius: 0;
    box-shadow: none;
    color: #eee;
    font-weight: bold;    
    transition: all 0.3s;
}
#button-submit {
    margin-top: 45px;
    font-size: 19px;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid #F1C53D;
    color: #F1C53D;
    transition: all 0.3s;
}
#button-submit:hover {
    background-color: #F1C53D;
    color: #000;    
}
#message {
    resize: none;
}
.contact-cols-content p:nth-child(1),
.contact-cols-content p:nth-child(2) {
    text-align: left;
    margin-left: 40px;
    font-size: 35px;
    font-weight: bold;
    color: #eee;
}
.contact-cols-content p:nth-child(3) {
    margin-left: 40px;
    text-align: left;
    margin-top: 40px;
    font-size: 22px;
}


div#myNavbar.navbar-collapse.collapse.in {
    border-top: none;
}
.icon-bar {
    background-color: #F1C53D !important;
}
.navbar-toggle {
    border-color: #F1C53D !important;
}
.navbar-toggle:hover {
    background-color: #F1C53D !important;
}
.navbar-toggle:hover .icon-bar {
    background-color: #333 !important;
}
nav.navbar.navbar-inverse {
    height: 30px;
}
@media screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .band-info-pics div:nth-child(3),
    .band-info-pics div:nth-child(4) {
        margin-top: 10px !important;
    }
    nav.navbar.navbar-inverse {
        height: 50px;
    }
    .parent {
        width: 65% !important;
        height: 65% !important;     
    }
    #logoPic {
        width: 70px ;
        height: 70px ;
        left: 5px;
        top: 5px;      
    }
    #logoPic:hover,
    #small-logo-brand:hover {
        transform: scale(1);
    }
    ul.nav.navbar-nav.navbar-right li a:hover {
        background-color: rgba(55,55,55,0) !important;
    }
    .navbar-collapse {
        padding: 7px 0;        
    }
    .column img:hover {
        transform: scale(1.04) !important;        
    }
    .bounceInRight {  
        animation: bounceInRight 0s !important;
    }
    .bounceInLeft {
        animation: bounceInLeft 0s !important;
    }
    footer .bounceInRight {
        animation: bounceInRight 0s !important;
    }
    footer .bounceInLeft {
        animation: bounceInLeft 0s !important;
    }
    .bounce {
        animation: bounce 0s !important;
    }
    .slideInUp {
        animation: slideInUp 0s !important;
    }
    .bounceInRight:nth-child(1),
    .bounceInRight:nth-child(2),
    .bounceInLeft:nth-child(1),
    .bounceInLeft:nth-child(2),
    .slideInUp:nth-child(odd)
    {
        animation-duration: 0s !important;
    }    
    .already-visible {
        animation: none;
    }
    a {
        text-decoration: underline !important;          
    }
    #small-logo-brand,
    .navbar li a,
    .nav-tabs li a,
    #datesBtn {
        text-decoration: none !important;
    }        
    .panel-body p {
        font-size: 18px;
    }
    .panel {
        margin-top: 40% !important;
    }
    #commentsH3 {
        margin-top: 20px !important;
    }    
}
.navbar-header {
    transition: 0.7s;
}
.navbar-header.active {
    background-color: rgba(45,45,45,0.8);
}
@media screen and (min-device-width : 320px) and (max-device-width : 760px) {
    .band-info-pics div:nth-child(2),
    .band-info-pics div:nth-child(3),
    .band-info-pics div:nth-child(4) {
        margin-top: 10px !important;
    }
    ul.nav.navbar-nav.navbar-right li a:after {    
        content: none !important;    
    }    
    .navbar-collapse {
        background: rgba(45,45,45,0.8);
        padding: 0 15px;
    }
    .navbar-header {
        padding: 5px 0;
    }
    nav.navbar.navbar-inverse {
        height: 30px;
    }
    .navbar-toggle {
        padding: 6px 7px !important;
    }
    #logoPic {
        width: 42px ;
        height: 42px ;
        left: 5px;
        top: 10px;      
    }
    #logoPic:hover,
    #small-logo-brand:hover {
        transform: scale(1);
    }
    #small-logo-brand {
        padding: 13px 0 0 0;
        text-transform: uppercase;
    }
    .container {
        padding: 70px 15px !important;
    }
    footer {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .parent {
        width: 50% !important;
        height: 50% !important;     
    }
    .person-text {
        top: 40% !important;
        left: 40% !important;
        width: 20% !important;
        height: 20% !important;
    }
    .column img:hover {
        transform: scale(1.04) !important;        
    }
    .bounceInRight {  
        animation: bounceInRight 0s !important;
    }
    .bounceInLeft {
        animation: bounceInLeft 0s !important;
    }
    footer .bounceInRight {
        animation: bounceInRight 0s !important;
    }
    footer .bounceInLeft {
        animation: bounceInLeft 0s !important;
    }
    .bounce {
        animation: bounce 0s !important;
    }
    .slideInUp {
        animation: slideInUp 0s !important;
    }
    .bounceInRight:nth-child(1),
    .bounceInRight:nth-child(2),
    .bounceInLeft:nth-child(1),
    .bounceInLeft:nth-child(2),
    .slideInUp:nth-child(odd)
    {
        animation-duration: 0s !important;
    }    
    .already-visible {
        animation: none;
    }
    a {
        text-decoration: underline !important;          
    }
    #small-logo-brand,
    .navbar li a,
    .nav-tabs li a,
    #datesBtn {
        text-decoration: none !important;
    }        
    .panel-body p {
        font-size: 15px;
    }
    .panel {
        margin-top: 20% !important;
    }
    #commentsH3 {
        margin-top: 20px !important;
    }   
}
@media screen and (min-device-width : 320px) and (max-device-width : 760px) and (orientation: portrait) {
    .person-text {
        top: 30% !important;
        left: 30% !important;
        width: 40% !important;
        height: 40% !important;
    }    
}
@media screen and (min-device-width : 320px) and (max-device-width : 760px) and (orientation: landscape) {
    .parent {
        width: 35% !important;
        height: 35% !important;     
    }
    .person-text {
        top: 37% !important;
        left: 40% !important;
        width: 20% !important;
        height: 26% !important;
    }
}
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
hr {
    margin-bottom: 35px;
    height: 1px !important;
    border: none !important;
    background: linear-gradient(to right, rgba(241, 197, 61, 0), rgba(241, 197, 61, 0.8), rgba(241, 197, 61, 0));
}
/* ------------------------------------------------ scroll-bar styling ------------------------------------------------ */
::selection {
    background: rgba(241, 197, 61, 0.8);
    color: #000;
}
::-moz-selection {        
    background: rgba(241, 197, 61, 0.8);
    color: #000;
}
::-webkit-scrollbar {
    display: none;
}